<div class="h-screen w-full flex flex-row flex-no-wrap justify-center items-center content-center bg-gradient-to-tr from-blue-800 to-purple-700">
    <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div>
            <div class="flex mb-4 items-center">
                <p class="w-full text-grey-darkest">Try Dialog</p>
                <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 ">show</button>
                <button class="flex-no-shrink p-2 ml-2 border-2">hide</button>
            </div>
            <div class="flex mb-4 items-center">
                <p class="w-full text-grey-darkest">Try Banner</p>
                <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 ">show</button>
                <button class="flex-no-shrink p-2 ml-2 border-2">hide</button>
            </div>
            <div class="flex mb-4 items-center">
                <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 ">Logout</button>
            </div>
        </div>
    </div>
</div>